/* Add your styles here */
.navbar {
    background: #1D428A;
}

.navbar li {
    display: inline-block;
    background-color: #1D428A;
    padding: 10px;
    margin: 10px;
    border-radius: 3px;
}
.nav_container {
    position: absolute;
    left: 0px;
    margin-top: 0cm; 
    margin-left: 2cm
  }

.navbar li a {
    color: #1D428A;
    font-size: 15.2px;
    font: Helvetica;
    background-color: transparent;
}

.header {
    background-color: #1D428A;
    padding: 10px;
    border-color: #1D428A;
}

h1 {
    color: #fff;
    background-color: #1D428A;
    border-color: #1D428A;
    font-size: 45px;
    margin-left: 4cm;
}

h4 {color:  #fff;
    font-size: 25px;
    font-weight: bold;
    }

h2 {color: orangered;
    font-size: 35px;
    font-weight: bold;
    }

h3 {color: black;
    font-size: 25px;
    font-weight: 100;
    }

body {
background-color: #F0FFFF;
}

.post {
    margin-right: 20px;
}

.btn-light {
    color: orange;
    text-decoration: none;
    background-color: #1D428A;
    width: 3cm;
    height: 1.2cm;
    border-block-color: #1D428A;

}

.card {
    margin-left: 2cm;
}

.card-header {
    text-align: center    
}

