<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
  
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    

    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.10.21/b-1.6.3/b-html5-1.6.3/datatables.min.css"
    />
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

    <title>Team 9 NBA Project</title>
  </head>
  <body style="background-color: #cdcdcd">
    <!-- /* <body> */ -->
    <h1>He Shoots, He Scores!</h1>
    <!-- mavigation bar -->
    <!-- <nav class="navbar navbar-dark bg-primary"> -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <img
        src="../static/js/images/logo.png"
        alt="..."
        class="img-thumbnail"
        height="75px"
        width="75px"
      />
      <a class="navbar-brand" href="#">The Social Influence of the NBA</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarText"
        aria-controls="navbarText"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
         
        </ul>
        <!-- <span class="navbar-text">
            Navbar text with an inline element
          </span> -->
      </div>
    </nav>
    <hr />
    <!-- <img width="1024" height="683" src="../static/js/images/banner.jpg" class="attachment-full size-full center" alt="" loading="lazy" srcset="/images/banner.jpg 1024w, ../static/js/images/banner.jpg 300w,  768w" sizes="(max-width: 1024px) 100vw, 1024px"> -->
    <!-- <img src="../static/js/images/banner.jpg" alt="banner" class="center"> -->
    <img
      src="../static/js/images/banner.jpg"
      alt="banner"
      style="display: block; width: 50%; margin-left: auto; margin-right: auto"
    />

    <div class="container-fluid">...</div>

  
    </div>
  </div> -->

    <hr />
    <h1 style="text-align: center">The Social Influence of the NBA</h1>

    <hr />

    <h2>Visualizations</h2>
    <hr />
    <div class="row">
      <!-- chart templates -->
      <div class="col-md-6">
        <div id="scatter"></div>
      </div>
      <div class="col-md-6">
        <div id="bar2"></div>
      </div>
    </div>
    <br/>
    <div class="row">
      <div class="col-md-6">
        <div id="bubble"></div>
      </div>
      <div class="col-md-6">
        <!-- <div style="background-color: white">
          <canvas id="myChart" width="50" height="50"></canvas>
        </div> -->
        <div id="chart" class="scatterplot"></div>
        <!-- <div id="pie2"></div> -->
      </div>
    </div>
    <br/>
    <div class="row">
      <div class="col-md-12">
        <div style="background-color: white">
          <canvas id="myChart" width="50" height="50"></canvas>
        </div>
        <div id="pie2"></div>
      </div>
    </div>

    <!-- Table -->
    <h2>Player Stats</h2>

    <table id="players" class="display" width="100%"></table>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS, charts js -->
    <script src="https://d3js.org/d3.v6.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <!-- chart JS -->
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"
    ></script>

    <script
      src="https://code.jquery.com/jquery-3.5.1.min.js"
      integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
      crossorigin="anonymous"
    ></script>
    <script src="static/js/logic.js"></script>
    <script src="static/js/chart.js"></script>
    <script type="text/javascript" src="../static/js/scatter.js"></script>


    <script
      type="text/javascript"
      src="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.10.21/b-1.6.3/b-html5-1.6.3/datatables.min.js"
    ></script>

    <script>
      $(document).ready(function () {});
    </script>
    <!-- <script src="Vis1/viz1.js"></script> -->
  </body>
</html>
